<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">


  <title>Port Select</title>
  <link rel="stylesheet" href="../assets/css/hostStyle.css"/>
</head>
<body>

<p> Select Port</p >
<a href="./index.html" target="_Blank" >
  <button class= "port" id="5001" onclick="buttonHandle(this)">
    5001
  </button>
</a >
<br>
<br>
<a href="./index.html" target="_Blank">
  <button class= "port" id = "5002" onclick="buttonHandle(this)">
    5002
  </button>
</a >
<br>
<br>
<a href="./index.html" target="_Blank">
  <button class= "port" id = "5003" onclick="buttonHandle(this)">
    5003
  </button>
</a >
<script src="../assets/js/portHandle.js" ></script>
<p id="demo"></p >

</body>
</html>